#header_container {
    background:#191818;
    border:1px solid #666;
    height:60;
    left:0;
    position:fixed;
    width:100%;
    top:0;
}
#header{
    line-height:60px;
    //height:60px;
    margin:0 auto;
    width:100%;
    text-align:center;
    color: #999;
}
.header-items{
    margin-right:15px;
}
.green {
    color: green;
}
.red {
    color: red;
}


